body, div, h1, p,
 header {
	margin: auto;
	padding: 4% 4% 2%;
	border: 0;
	font-size: 11vh;
	font-family: Arial;
	vertical-align: baseline;
	text-decoration: none;
	}
#backgroundz2{
  z-index:-10;
  background-color: #32CD32;
  height: 500%;
  width: 500%;
  top:-200%;
  left:-200%;
  position: fixed;
  display:inline;
  background-size: cover;
}
span{
  padding: 2.3% 3% 2%;
}
.shadow { 
   color:#FFFF00;
   font: bold 8vh Arial, Sans-Serif;
   text-decoration: none;
   text-shadow: 1px 1px #32CD32, 
                2px 2px #32CD32, 
                3px 3px #32CD32;
   -webkit-transition: all 0.12s ease-out;
   -moz-transition:    all 0.12s ease-out;
   -ms-transition:     all 0.12s ease-out;
   -o-transition:      all 0.12s ease-out;
}
.xtreme {
   position: relative; 
   top: -3px; 
   left: -3px; 
   color:#FFFF00;
   text-shadow: 1px 1px #32CD32, 
                2px 2px #32CD32, 
                3px 3px #32CD32, 
                4px 4px #32CD32, 
                5px 5px #32CD32, 
                6px 6px #32CD32;}
.shadow:hover {
   position: relative; 
   top: -3px; 
   left: -3px;
   text-decoration: none; 
   text-shadow: 1px 1px #32CD32, 
                2px 2px #32CD32, 
                3px 3px #32CD32, 
                4px 4px #32CD32, 
                5px 5px #32CD32, 
                6px 6px #32CD32;
}
@media (max-aspect-ratio: 4/3){
	h1{font-size: 8vh !important;}
	span,a {
		font-size: 6vh !important;
	}}

@media (max-width: 400px){
	h1{font-size: 7vh !important;
    }
  span,a {
     padding: 3% 2%;
		font-size: 5vh !important;
		display: flex;
	}}
html {
}
body {
    z-index:1;
	background-image: linear-gradient(90deg, #FFF000,#32CD32);
}