html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output,
section, summary, time, mark, audio, video {
	margin: auto;
	padding: 2.3% 3% 2%;
	border: 0;
	font-size: 11vh;
	font-family: Arial;
	vertical-align: baseline;
	text-decoration: none;
	}

.shadow { 
   color:#FFFF00;
   font: bold 8vh Arial, Sans-Serif;
   text-decoration: none;
   text-shadow: 1px 1px #32CD32, 
                2px 2px #32CD32, 
                3px 3px #32CD32;
   -webkit-transition: all 0.12s ease-out;
   -moz-transition:    all 0.12s ease-out;
   -ms-transition:     all 0.12s ease-out;
   -o-transition:      all 0.12s ease-out;
}
.xtreme {
   position: relative; 
   top: -3px; 
   left: -3px; 
   color:#FFFF00;
   text-shadow: 1px 1px #32CD32, 
                2px 2px #32CD32, 
                3px 3px #32CD32, 
                4px 4px #32CD32, 
                5px 5px #32CD32, 
                6px 6px #32CD32;}
.shadow:hover {
   position: relative; 
   top: -3px; 
   left: -3px;
   text-decoration: none; 
   text-shadow: 1px 1px #32CD32, 
                2px 2px #32CD32, 
                3px 3px #32CD32, 
                4px 4px #32CD32, 
                5px 5px #32CD32, 
                6px 6px #32CD32;
}
@media (max-aspect-ratio: 4/3){
	h1{font-size: 8vh !important;}
	span,a {
		font-size: 6vh !important;
	}}

@media (max-width: 300px){
	h1,span,a {
		font-size: 4vh !important;
		display: flex;
	}}
body {
	line-height: 1;
	background-image: linear-gradient(90deg, #FFF000,#32CD32);
}